<head>
	
</head>
<body>
	<div class="container">
		<div class="one-half new-book-container">
			<h2>New Toy</h2>

			<%= render "form" %>

		</div>
			
		<br clear="both">
		<br clear="both">

	</div>
</body>