
<div class='container bp-center'>
	<div class="bp-title"><%= @blog_post.title %></div>

	<div><%= @blog_post.body%></div>
	
	<%= link_to 'Back', blog_posts_path %> | <%= link_to 'Edit', edit_blog_post_path(@blog_post) %>

</div>
