/*-------------------------------------------------------------------------------------------------*/
/*Tables*/
/*-------------------------------------------------------------------------------------------------*/

.table-center{
    margin-right: auto;
    margin-left: auto;
}

.table-center th{
    background-color: #eee;
}