
<h1>Home</h1>



<h1>Number of Books <%= @books.size %></h1>
<ul>
	
	<% @books.each_with_index do | book,i | %>

		<ol><%="#{i+1}. #{book.title}" %></li>

	<% end %>

</ul>



<% if @logged_in %>
	<a href="#">Sign Out</a>
<% else %>
	<a href="#">Sign In</a>
<% end %>