
<% books = Book.all %>

<h1>Home</h1>

<ul>
	 <%# for i = 0; i<books.length; i++ {%>

		<!-- <li>  -->
			<%#= i %>  <%#= books[i].title %>
		<!-- </li> -->

	<!-- <%#}%> -->
	<% count = 1 %>
	<% for i in books %>

		<li> 
			<%= count %> <%= i.title %>
		</li>
		<% count += 1 %>
	<% end %> 

</ul>

<% if @logged_in %>
	<a href="#">Sign Out</a>
<% else %>
	<a href="#">Sign In</a>
<% end %>