	<div class="container">
		<div id="portfolio">

      <% if admin? %>

      <%= link_to "Add New Book", "/books/new", class: "btn-dark-add-book" %>
      <% end %>
      <%= link_to 'Load Books', '#', id: 'load-books-link'%>
      <div class="portfolio-container">
       <ul>

       </ul>
     </div>


     <!--END portfolio-wrap-->
   </div>
   <br clear="both">
   <br clear="both">

 </div>

 <script type="text/javascript">

   var loadBooksLink = document.getElementById('load-books-link');

  loadBooksLink.addEventListener("click", function(event){
    event.preventDefault();
    
    $.ajax({
      url: "/books",
      method: "GET",
      data: {
        format: "json"
      }, 
      success: function(books){
        alert("Successful request");
        for(var i = 0; i < books.length; i++){
          console.log(books[i].title);
          //use this data to create html books
          var submitElement = document.createElement("button");
          submitElement.id = "submitFormCreate";
          var submitText = document.createTextNode("Submit");
          submitElement.appendChild(submitText);
        }
      }
    });

  });

</script>