<head>
	
</head>
<body>
	<div class="container">
		<div class="one-half new-book-container">
		<!-- 	<div class="portfolio-container"> -->

				<form action="/books" method="POST">

					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

					<h2>New Book</h2>

					<label for="title">Title</label><br>
					<input type="text" name="book[title]" id="title"><br>

					<label for="author">Author</label><br>
					<input type="text" name="book[author]" id="author"><br>

					<label for="published_year">Published Year</label><br>
					<input type="text" name="book[published_year]" id="published_year"><br> 

					<label for="image_url">Image URL</label><br>
					<input type="text" name="book[image_url]" id="image_url"><br> 

					<input type="submit" name="submit-book" value="Create Book" class="btn-create-object">
				</form>
			<!-- </div> -->
		</div>
			
		<!-- </div> -->
		<br clear="both">
		<br clear="both">

	</div>
</body>