/*-------------------------------------------------------------------------------------------------*/
/*Buttons*/
/*-------------------------------------------------------------------------------------------------*/


.btn-dark:hover {
    -webkit-box-shadow: 0 0 6px #000000;
    -moz-box-shadow: 0 0 6px #000000;
    box-shadow: 0 0 6px #000000;
    cursor: pointer;
}

.btn-ship {
    display: inline-block;
    font-weight: 200;
    width: 50px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 7px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin-bottom: 5px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-dark-ship {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark-ship:hover {
    -webkit-box-shadow: 0 0 6px #000000;
    -moz-box-shadow: 0 0 6px #000000;
    box-shadow: 0 0 6px #000000;
    cursor: pointer;
}

.btn-dark-add-book{
    float: right;
    margin-right: 15px;
    padding: 10px;
    background-color: #cccccc;
    border-radius: 1rem; 
    font-weight: bold;
    border: 0.5px solid;
}

.add-cart-btn{
    margin-top: 10px;
}

.removeProd{
    font-size: 25px;
    color: #cc1413;
}

.removeProd:hover {
    cursor: pointer;
}

.quantity-button{
    line-height: normal;
}

#checkoutBut {
    margin-top: 10px;
    float: right;
    margin-bottom: 10px;
    margin-right: 50px;
    font-size: 15px;
}

.checkout-submit{
    margin-top: 10px;
    float: right;
    margin-right: 52px;
}

.btn-create-object{
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 10px; 
    display: inline-block;
    padding: 5px;
}

.btn-create-object:hover {
    cursor: pointer;
}

.view-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    
    border-radius: 0.5rem;

    padding: 10px;
    background-color: #cccccc;

    font-weight: bold;
    border: 0.5px solid;
}

.view-details:hover {
    color: #777777;
}

img:hover + .view-details, .view-details:hover {
    display: inline-block;
}

.back-to-all-prod {
    display:inline-block;
    padding: 4.38px 5px;
    border: 1px solid;
    margin-bottom: 10px;
    border-radius: 0.5rem; 
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    background-color: black;
    text-align:center;
    transition: all 0.2s;
}

.back-to-all-prod:hover {
    color: black;
    background-color: white;
}