<!-- END container -->
<div class="footer">
    <!-- First Column -->
    <div class="one-fourth text-center">
        <h3>Site Map</h3>
        <ul class="footer-links">
            <li><a href="index.html">Homepage</a></li>
            <li><a href="category.html">Categories</a></li>
            <li><a href="search.html">Search</a></li>
            <li><a href="cart.html">Cart</a></li>
        </ul>
    </div>
    <!-- Second Column -->
    <div class="one-half text-center">
        <h3>Information</h3>
        <p>Dog Eared Books is a small company located in the heart of Ottawa, Ontario. We believe
            anyone who doesnt like reading just hasn't found the right book. Please contact us at (613) 555-5555
            for any questions or concerns.</p>
        <p>Happy Reading!</p>

    </div>
    <!-- Third Column -->
    <div class="one-fourth last text-center">
        <h3>Social Media</h3>
        <a href="#"> <%= image_tag("icon_fb.png") %> </a>
        <a href="#"> <%= image_tag("icon_ig.png") %> </a>
        <a href="#"> <%= image_tag("icon_in.png") %> </a>
        <a href="#"> <%= image_tag("icon_twitter.png") %> </a>
    </div>
    <div class="clear"></div>
</div>
<!-- END footer -->