<link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Lobster+Two'>

<div class="header">
  <!-- Logo/Title -->
  <div class="site_title">
      
          <a href="/">
            Dog Eared Books
          </a>

    
        </div>
      </div>